.sub-heading{
    background: #2297dc;
    color: #fff;
    float: left;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}
.h4s{
    text-align: center
}